<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Xpresso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<!--  <link href="static/css/style.css" rel="stylesheet" />-->
  <link href="{{ url_for('static' , filename='css/style.css')}}" rel="stylesheet" />

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
function sortTable(n) {
var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;

table = document.getElementById("healthCareDatatable");
switching = true;
dir = "asc";
while (switching) {
    switching = false;
    rows = table.getElementsByTagName("TR");
    for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
                var cmpX=isNaN(parseInt(x.innerHTML))?x.innerHTML.toLowerCase():parseInt(x.innerHTML);
                var cmpY=isNaN(parseInt(y.innerHTML))?y.innerHTML.toLowerCase():parseInt(y.innerHTML);
cmpX=(cmpX=='-')?0:cmpX;
cmpY=(cmpY=='-')?0:cmpY;
        if (dir == "asc") {
            if (cmpX > cmpY) {
                shouldSwitch= true;
                break;
            }
        } else if (dir == "desc") {
            if (cmpX < cmpY) {
                shouldSwitch= true;
                break;
            }
        }
    }
    if (shouldSwitch) {
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;
        switchcount ++;
    } else {
        if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
        }
    }
}
}
</script>
</head>
<body>
    <div id="page-layout">
        <div id="header">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="nav-left">
<!--                    <a class="navbar-brand"><img src="static/images/logo.png" class="logo" alt="logo" /></a>-->
                    <a class="navbar-brand"><img src="{{ url_for('static', filename='images/logo.png')}}" class="logo" alt="logo" /></a>

                    <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
                 </div>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="username nav-link dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Welcome, Username</a>
                            <div class="dropdown-menu" aria-labelledby="customDropdown">
                               <span class="dropdown-menu-arrow"></span>
                               <a class="dropdown-item" href="#">Change Password</a>
                            </div>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link mr-2" data-toggle="tooltip" data-placement="bottom" style="cursor: pointer" title="Logout">
                                <em class="fa fa-power-off power-icon"></em>
                            </a>
                         </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-flex" id="sidenav" class="position-fixed">
            <div id="sidebar-wrapper">
                <div class="main-sidebar border-right collapse d-md-flex  min-vh-100">
                   <section class="sidebar">
                       <div class="list-group list-group-flush">
                           <ul class="sidebar-menu nav flex-column flex-nowrap overflow-hidden">
                               <li class="nav-item">
                                   <a class="nav-link collapsed text-truncate nav-menu" href="healthcare">
                                        <span class="d-sm-inline" style="color:#0779be">Healthcare</span>
                                    </a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link collapsed text-truncate nav-menu active" href="finance">
                                       <span class="d-sm-inline">Finance</span>
                                    </a>
                                </li>
                           </ul>
                       </div>
                       <div class="copyright text-center">© 2020 Copyright:<a href="https://abzooba.com/"> Abzooba India</a></div>
                    </section>
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-3">
                        <h1 class="title">Finance</h1>
                    </div>
                    <div class="content shadow">
                        <div class="wizard-content">
                            <div class="row">
                                <div class="col-sm-9 col-xs-12">
                                    <form id = "form1" method = "post" action = "/finance">
                                        <div class="form-group">
                                            <label>Search Query</label>
                                            <input type="text" name="query" class="form-control inputborder">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="chat-footer float-right">
                                        <button type="submit" class="btn btn-primary finance-query-btn" form="form1">Submit</button>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="content shadow">
                        <table id="healthCareDatatable" class="row-border hover dataTable" width="100%">
                            <thead>
                                <tr>
                                     <th  onclick="sortTable(0)">File name</th>
                                    <th  onclick="sortTable(1)">File type</th>
                                     <th  onclick="sortTable(2)">id</th>
                                    <th  onclick="sortTable(3)">Publish date</th>
                                    <th onclick="sortTable(4)">Source</th>


                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>