<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Xpresso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
<!--  <link href="assets/css/style.css" rel="stylesheet" />-->
  <link href="{{ url_for('static' , filename='css/style.css')}}" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("healthCareDatatable");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
</head>
<body>
    <div id="page-layout">
        <div id="header">
            <nav class="navbar navbar-expand-md navbar-light bg-white">
                <div class="nav-left">
<!--                    <a class="navbar-brand"><img src="assets/images/logo.png" class="logo" alt="logo" /></a>-->
                    <a class="navbar-brand"><img src="{{ url_for('static', filename='images/logo.png')}}" class="logo" alt="logo" /></a>

                    <button class="btn" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
                 </div>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="username nav-link dropdown-toggle" href="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Welcome, Username</a>
                            <div class="dropdown-menu" aria-labelledby="customDropdown">
                               <span class="dropdown-menu-arrow"></span>
                               <a class="dropdown-item" href="#">Change Password</a>
                            </div>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link mr-2" data-toggle="tooltip" data-placement="bottom" style="cursor: pointer" title="Logout">
                                <em class="fa fa-power-off power-icon"></em>
                            </a>
                         </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="d-flex" id="sidenav" class="position-fixed">
            <div id="sidebar-wrapper">
                <div class="main-sidebar border-right collapse d-md-flex  min-vh-100">
                   <section class="sidebar">
                       <div class="list-group list-group-flush">
                           <ul class="sidebar-menu nav flex-column flex-nowrap overflow-hidden">
                               <li class="nav-item">
                                   <a class="nav-link collapsed text-truncate nav-menu active" href="healthcare">
                                        <span class="d-sm-inline">Healthcare</span>
                                    </a>
                               </li>
                               <li class="nav-item">
                                   <a class="nav-link collapsed text-truncate nav-menu" href="finance">
                                       <span class="d-sm-inline" style="color:#0779be">Finance</span>
                                    </a>
                                </li>
                           </ul>
                       </div>
                       <div class="copyright text-center">© 2020 Copyright:<a href="https://abzooba.com/"> Abzooba India</a></div>
<!--                       <div class="copyright">@information 2020. All Rights Reserved</div>-->
                    </section>
                </div>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <div class="md-3">
                        <h1 class="title">Healthcare</h1>
                    </div>
                    <div class="content shadow">
                        <div class="wizard-content">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <form id = "form1" method = "post" action = "/healthcare">
                                        <div class="form-group">
                                            <label>Search Query</label>
                                            <input type="text" value="{{data.query}}" name="query" class="form-control inputborder">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="Parameter2">Plan Name</label>
                                        <select form="form1" name="plan_name" class="form-control inputborder">
<!--                                          <option selected disabled>Select Plan Name</option>-->
                                            {% for plan_name,plan_value in plan_name_dict.items()%}
                                                {% if data.plan_name == plan_value %}
                                                    <option value="{{plan_value }}" selected>{{plan_name}}</option>
                                                {% else %}
                                                    <option value="{{plan_value }}" >{{plan_name}}</option>
                                                {% endif %}
                                            {% endfor %}

<!--                                          <option value="California Value Trust">California Value Trust(CVT)</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-12">
                                    <div class="form-group">
                                        <label for="Parameter2">Plan Type</label>
                                        <select form="form1" name="plan_type" class="form-control inputborder">
                                           {% for plan in plan_type_list%}
                                                {% if data.plan_type == plan %}
                                                    <option value= "{{plan}}" selected >{{plan}}</option>
                                                {% else %}
                                                    <option value="{{plan}}">{{plan}}</option>
                                                {% endif %}
                                           {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="chat-footer float-right">
                                        <button type="submit" class="btn btn-primary" form="form1">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content shadow">
                        <table id="healthCareDatatable" class="row-border hover dataTable" width="100%">
                            <thead>

                                    <tr>

                                        <th onclick="sortTable(0)">Answer</th>
                                        <th onclick="sortTable(1)">Link</th>
                                    </tr>

                            </thead>
                            <tbody>
                                    {% for res in result%}
                                        <tr>
                                            <td>{{
                                            res.Answer}}
                                            </td>
                                            <td><a href="{{res.Url}}">{{res.Url.split('/')[-1]}}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>